/* Applies a red border on all elements so I can vizualize the flexbox better. Also reduces margin to 0 so there is no white space */
* {
  /* border: 1px solid red; */
  margin: 0;
}

/* Container for all the elements of the page. Height is set to 100 viewheight in order to fill up the initial browser page */
.container {
  display:flex;
  height: 100vh;
}

/* Odin section of the page. This will contain the logo, and the word 'Odin' */
.odin-section {
  display: flex;
  flex: 1;
  background-image: url(green_leaf_plant.png);
  background-size: contain;

}
/* Adding in the norse font using the font-face property */
@font-face {
  font-family: Norse;
  src: url("/Users/abhardwaj/Desktop/Odin/Projects/odin_sign-up-form/Norse-Bold (2).otf") format ("opentype");
}

/* CSS for the Odin logo image */
img {
  width: 100px;
  height: 120px;
  padding-top: 150px;
  padding-left: 100px;
}

/* CSS for the odin logo text */
.odin-text {
  padding-top: 175px;
  font-family: Norse;
  color: white;
  font-size: 50px;
}

/* Form section of the page. This will contain some text, and then the form itself */
.form-section {
  flex: 2;
  font-family: sans-serif;
  background-color: rgb(248,248,248);
}

/* CSS for the intro text. Font-size at 25 and padding to move it down the page more */
.intro-text {
  font-size: 25px;
  padding: 75px 50px 75px 50px;
}

input, label {
  display: block;
}

input {
  margin-bottom: 25px;
  padding: 0px 75px 10px 0px;
  border-radius: 5px;
  border-color: lightgray;
}

.form {
  display: flex;
  padding: 25px 50px 0px 50px;
  font-size: 15px;
  background-color: white;
  box-shadow: 0px 5px 5px lightgray;
}

.block1, .block2 {
  flex: 1;
}

.block2 {
  padding-right: 300px;
}

:required {
  border: 1px solid red;
}

.button {
  padding: 25px 0px 0px 50px;
}

button {
  background-color: #596D48;
  padding: 10px 35px 10px 35px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.footer-text {
  padding: 25px 0px 0px 50px;
}

strong {
  color: #596D48
}