/* Adds a red border on all divs/containers in the file */
  * {
    border: 1px solid red; 
  }

/* Reduces the border so the entire HTML fills up the page */
  body {
    margin: 0;
  }

/* Creates a flex container for the overall page to hold section 1 and section 2 */
  .flex-container {
    display: flex;
    height:100vh;
  }

/* All the CSS for the first section, which holds the background image, odin logo, and Odin */
  .flex-container .odin-image {
    flex:1;
    background-image: url("green_leaf_plant.png");
    background-size: contain;
    padding-top: 200px;
  }

/* Adjusting the image dimensions */
  img {
    width: 100px;
    height: 120px;
    padding-left: 150px;
  }
  
/* Taking section 2, turning it into a flex-item that takes up double the space of section 1 */
  .flex-container .signup {
    flex:2;
  }

/* Adding padding and such on the initial copy and form so they're properly spaced out */
  .intro, .form {
    padding:25px;
  }
  
  .intro {
    margin: 100px 25px 25px 25px;
  }

  .form {
    margin: 50px 25px 25px 25px;
  }